.App {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .App {
    height: calc(100vh - 2rem);
  }
}

.TripPage {
  height: 100vh;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1024px) {
  .TripPage {
    height: calc(100vh - 2rem);
  }
}
@media screen and (max-width: 640px) {
  .TripPage {
    display: flex;
    flex-direction: column-reverse;
  }
}

.Page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F1E4C3;
}
.Page__demoImg {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2vh 0;
}
.Page__demoImg img {
  height: 25.5vw;
  width: auto;
}
@media screen and (max-width: 1024px) {
  .Page__demoImg img {
    height: 27.5vw;
  }
}
@media screen and (max-width: 768px) {
  .Page__demoImg img {
    height: 28.5vw;
  }
}
@media screen and (max-width: 640px) {
  .Page__demoImg img {
    height: 38vw;
  }
}
@media screen and (max-width: 468px) {
  .Page__demoImg img {
    height: 42vw;
  }
}
.Page__plan {
  color: #AD8B73;
  font-size: 1.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: fit-content;
  padding: 0.5vw 1vw;
  margin: 0 auto;
  margin-top: 1.5vw;
  background-color: transparent;
  border: 2px solid #e1bf8b;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .Page__plan {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 768px) {
  .Page__plan {
    font-size: 1.75vw;
  }
}
@media screen and (max-width: 640px) {
  .Page__plan {
    font-size: 2.25vw;
  }
}
@media screen and (max-width: 468px) {
  .Page__plan {
    font-size: 2.75vw;
  }
}
.Page__plan svg {
  margin-right: 0.5vw;
}
.Page__trips {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 78vw;
}
@media screen and (max-width: 1024px) {
  .Page__trips {
    width: 84vw;
  }
}
@media screen and (max-width: 768px) {
  .Page__trips {
    width: 93vw;
  }
}
@media screen and (max-width: 640px) {
  .Page__trips {
    width: 90vw;
  }
}
.Page fieldset {
  margin-top: 2.5vw;
  border: 2px solid transparent;
  border-top-color: #4d2c2c;
  color: #9c7b66;
  box-sizing: border-box;
  grid-area: 1/1;
  padding: 18px;
  padding-bottom: 0.5vw;
  width: inherit;
}
.Page legend {
  font-size: 2vw;
  font-family: "sans-serif";
  margin: auto;
  padding: 0 12px;
}
@media screen and (max-width: 1024px) {
  .Page legend {
    font-size: 2.25vw;
  }
}
@media screen and (max-width: 768px) {
  .Page legend {
    font-size: 3vw;
  }
}
@media screen and (max-width: 640px) {
  .Page legend {
    font-size: 4vw;
  }
}
.Page__NA {
  color: #4d2c2c;
  margin: 0 auto;
  font-size: 1rem;
}
@media screen and (max-width: 1024px) {
  .Page__NA {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 768px) {
  .Page__NA {
    font-size: 1.75vw;
  }
}
@media screen and (max-width: 640px) {
  .Page__NA {
    font-size: 2.25vw;
  }
}
@media screen and (max-width: 468px) {
  .Page__NA {
    font-size: 2.75vw;
  }
}

.hidden {
  display: none;
}

.Root {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .Root {
    flex-direction: column;
  }
}