@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.App {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.Page {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Page__header {
  display: flex;
}
.Page__vidData {
  padding: 1rem;
  font-family: "Inter";
  font-size: 1.125rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.Page__vidData-title {
  font-size: 1.125rem;
}
.Page__heading {
  font-size: 1.5rem;
  font-family: "Inter";
}
.Page__videoInput {
  display: flex;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}
.Page__videoInput-input {
  margin-right: 0.5rem;
}
.Page__videoInput-input > div > input {
  padding: 0.5rem 0.75rem;
  font-size: 0.95rem;
  width: 46rem;
}
.Page__videoInput-submit {
  width: fit-content;
  text-transform: none;
}
.Page__video .VideoPlayer {
  display: flex;
  flex-direction: row;
}
.Page__video .VideoPlayer__video {
  width: fit-content;
}
.Page__video .VideoPlayer__video > div {
  width: fit-content !important;
}
.Page__video .VideoPlayer__notes {
  width: calc(100% - 840px);
  padding: 0 0.75rem;
}

.Root {
  display: flex;
  flex-direction: column;
}