@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.Nav {
  width: 100vw;
  border-right: none;
}
.Nav__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  padding: 0 0.5rem;
  margin-bottom: 0.25rem;
  border-bottom: 2px solid #EAECF0;
}
.Nav__logo {
  font-size: 1.5rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin: 0.5rem 0;
}
.Nav a {
  text-align: center;
  font-size: 1.25vw;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Nav__signOut, .Nav__signIn {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.Nav__signOut-btn, .Nav__signIn-btn {
  cursor: pointer;
  background-color: transparent;
  margin: 0;
  margin-left: 0.2rem;
  padding: 0.15rem 0.25rem;
  font-size: 1rem;
  border: 1px solid #cbcdce;
  border-radius: 5px;
}
.Nav__signOut-btn:active, .Nav__signIn-btn:active {
  background-color: #ebeced;
}
.Nav__session {
  display: flex;
  align-items: center;
}
.Nav__profilePic {
  border-radius: 50%;
  border: 2px solid #cbcdce;
  height: 1.5rem;
  width: 1.5rem;
}