@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.NoteCard {
  margin-top: 1rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #EAECF0;
  font-family: var(--font-inter, "Inter", sans-serif);
  font-size: 0.875rem;
}
.NoteCard__timestamp-date {
  font-weight: 500;
  line-height: 1.25rem;
}
.NoteCard__timestamp-time {
  font-weight: 400;
  line-height: 1.25rem;
}
.NoteCard__timestamp-time-stamp {
  color: #6941C6;
  cursor: pointer;
  margin-left: 0.25rem;
}
.NoteCard__note {
  border: 1px solid #EAECF0;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  padding: 0.75rem;
  font-size: 0.875rem;
  background-color: transparent;
  margin: 0.5rem 0;
}
.NoteCard__note-input {
  margin: 0.5rem 0;
  border: 1px solid #EAECF0;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  padding: 0.75rem;
  font-size: 0.875rem;
  background-color: transparent;
  outline: none;
  width: calc(100% - 1.5rem);
}
.NoteCard__btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
}
.NoteCard__btns > * {
  background-color: transparent;
  border: 1px solid #EAECF0;
  border-radius: 0.5rem;
  padding: 0.25rem 0.625rem;
  font-size: 0.875rem;
  cursor: pointer;
}
.NoteCard__btns > *:active {
  background-color: #f4f4f4;
}