.TripModal {
  position: absolute;
  background-color: #fff;
  z-index: 2000;
  padding: 1vw;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 50%;
  border: 1px solid #888;
}
.TripModal__overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 2001;
}
.TripModal__input {
  padding: 0.25vw;
  outline: none;
  margin: 0.5vw 0;
  border-radius: 5px;
  border: 2px solid #000;
}
.TripModal__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Crimson Pro", sans-serif;
  font-weight: 600;
  text-shadow: #000;
}
.TripModal__save {
  text-decoration: none;
  color: rgba(22, 216, 54, 0.753);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.TripModal__save div {
  display: flex;
  align-items: center;
}
.TripModal__cancel {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: rgba(252, 80, 80, 0.759);
}