@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 640px;
$screen-xxs: 468px;

$font-size-lg: 1.125rem;
$font-size-md: 0.875rem;

$border-color: #EAECF0;