@import '_variables.scss';

.App {
    height: calc(100vh - 2rem);
}

.Page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    &__heading {
        font-size: 1.5rem;
    }

    &__videoInput {
        width: fit-content;
        margin-top: 0.75rem;
        margin-bottom: 1rem;

        &-input {
            margin-right: 0.5rem;

            & > div > input {
                padding: 0.5rem 0.75rem;
                font-size: 0.95rem;
                width: 46rem;
            }
        }

        &-submit {
            width: fit-content;
            text-transform: none;
        }
    }
}

.Root {
    display: flex;
    flex-direction: column;
}