@import '_variables.scss';

.Nav {
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    padding: 0 0.5rem;
    width: 100vw;
    margin-bottom: 0.25rem;
    border-bottom: 2px solid rgba(0, 0, 0);
  }

  &__logo {
    font-size: 1.5rem;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    margin: 0.5rem 0;
  }

  & a {
    text-align: center;
    font-size: 1.25vw;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__signOut,
  &__signIn {
    display: flex;
    align-items: center;
    padding-right: 2vw;
    flex-direction: row;

    &-btn {
      cursor: pointer;
      background-color: transparent;
      margin: 0;
      margin-left: 0.2rem;
      padding: 0.15rem 0.25rem;
      font-size: 1rem;
      border: 2px solid rgb(255, 157, 0);
      border-radius: 5px;
    }
  }

  &__session {
    display: flex;
    align-items: center;
  }

  &__profilePic {
    border-radius: 50%;
    border: 0.2vw solid rgb(255, 157, 0);
    // width: 2.25vw;
    // height: 2.25vw;

    // @media screen and (max-width: $screen-md) {
      height: 1.5rem;
      width: 1.5rem;
    // }
  }

  // @media screen and (max-width: $screen-md) {
    width: 100vw;
    border-right: none;
  // }
}